body {
    width: 100%;
    font-family: 'Karla', sans-serif;
    background-color: lightblue;
}


div {
    position: relative;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

/* images----------------------- */

/* img {
    display: inline-block;
    padding: 5%;;
    margin: 0;
} */

#journal {
    top: 50%;
    left: 38%;
    position: absolute;

}

#pen {
    position: absolute;
    top: 65px;
    left: 65%;
}

.show {
    display: block;
}

.hide {
    display: none;
}